.App {
  font-size: 10px;
  display: flex;
}

.nav-list {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-pane {
  width: 90vw;
  height: 100vh;
}

.about-pane {
  margin: 10px;
}

body {
  background-color: white;
}

img {
  width: 60px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.fruit-toggle-enabled {
  background-color: rgb(40, 172, 121);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #009CC2;
}

.fruit-toggle {
  background-color: gray;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #009CC2;
  transition-property: background-color;
  /*transition-duration: 1s;*/
  /*transition-timing-function: ease-in;*/
}

.fruit-toggle:hover {
  background-color: rgb(40, 172, 121);
  /*border-radius: 80%;*/
  /*transform: rotateY(180deg);*/
  animation-name: scale-up;
  animation-duration: 1s;
}

.addButton {
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
}

.tip-popup {
  padding: 10px;
}

.tip-popup:hover {
  animation-name: scale-up;
  animation-duration: 1s;
}

.mapMarker {
  font-size: 60px;
  color: green;
}

.mapMarker:hover {
  animation-name: scale-up;
  animation-duration: 1s;
  /*animation-delay: 1s;*/
  /*animation-fill-mode: forwards;*/
}

@keyframes grow {
  0%   {padding: 10px}
  50%  {padding: 20px}
  100% {padding: 10px}
}

@keyframes scale-up {
  0%   {transform: scale(1.0);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(1.0);}
}

@keyframes fade {
  0%   {opacity: 1}
  50%  {opacity: 0.5}
  100% {opacity: 1}
}

