.App {
  font-size: 10px;
  display: flex;
}

.nav-list {
  width: 10vw;
  height: 100vh;
}

.map-pane {
  width: 90vw;
  height: 100vh;
}

body {
  background-color: white;
}

img {
  width: 60px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.fruit-toggle-enabled {
  background-color: rgb(40, 172, 121);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #009CC2;
}

.fruit-toggle {
  background-color: gray;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #009CC2;
}

button {
  background-color: brown;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
}

input {
  margin: 2px;
  border: 1px solid;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.mapMarker {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
  color: white;
}